# --- Unreal Engine ---
Binaries
PluginsBinaries
Intermediate
PluginsIntermediate
Saved
DerivedDataCache
FileOpenOrder

# --- Проектные файлы (генерируются сами) ---
.sln
.suo
.opensdf
.sdf
.VC.db
.VC.opendb
.vs

# --- Временные файлы и бэкапы ---
.log
.bak
.tmp
.swp

# --- Специфично для Build Tool и локальных настроек ---
.idea
.vscode
Build
DataCache

# --- Исключения для Build (если вам нужно хранить конфиги сборки) ---
!Config.ini

# --- MacLinux мусор ---
.DS_Store
